<a href="https://colab.research.google.com/github/CarolineGuothesweetie/Lecture-notes/blob/main/01_IntroToPython_Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BA765: Programming for Data Science

## Session 2 : Intro to Python 

**Summer 2021**

July 8, 2021

---

### A very brief introduction to Python

As [Wikipedia puts it](https://en.wikipedia.org/wiki/Python_(programming_language)), Python is an interpreted, high-level, general-purpose programming language. Python compels its user to follow a distinct style emphasizing code readability. The most apparent example is the use of whitespace indentation instead of brackets, braces, or heavy use of punctuation marks. It is a style that slowly grows on you. So, if you feel constrained by it, give Python a chance and you most likely will start enjoying it. Afterall, Python is the worlds most popular programming language [according to GitHub](http://pypl.github.io/PYPL.html).

Being an open-source language it is being made more and more useful through all the immensity of libraries and modules that extend its functionality way beyond what comes built-in. Using these modules is often as easy as typing `import <module_name>`. On a different note, like any open-source project Python has its share of frivolous in-jokes, such as the one presented below.

In [ ]:
import this

### 1. Some basic built-in python syntax and functions

#### 1.1 Hello, World!

Let's start with the classic program that is traditionally used to introduce any language; printing the letters `Hello, World!` on the screen.

Note that # character indicates a comment, that line is not executed!

In [1]:
# Type-in "Hello, World!"
print("Hello, World!")

Hello, World!

In [2]:
# print your name
print("Caroline Guo")

Caroline Guo

__________________________________________________________________________________________________________________________

#### 1.2 Python's basic data types

Basic data types in python include:
    
- Boolean (bool)  
    - example: True, False <br> <br>

- Integer (int)  
    - example: 2020 <br> <br>

- Floating point (float)
    - example: 32.56, 4.5e2 <br> <br>

- Text string (str)  
    - example: "I", 'love', '''Python'''  <br> <br>

- List (list)
    - example: ['Paris', 'Abuja', 'Hanoi', '2021'] <br> <br>
 ***Note***: python lists can contain values corresponding to different data types; <br>
    but arrays in python can only contain values corresponding to same data type. <br>
  
    <br> <br>
    
- Tuple (tuple) 
    - example: (1,2,3,4) ; <br> Note: tuples are immutable   <br> <br>

There is a built-in python function `type()` that returns the type of the python object

In [4]:
x = 1
type(x)

int

In [5]:
x = "Caroline Guo"
type(x)

str

In [6]:
x = ["Caroline, GUO, 765" ]
type(x)

list

**Simple exercise:**
Write a few python objects: a boolean, an integer, a float, a string, a list, and a tuple, and use the built-in function `type()` to check if your python object is indeed what you expected.

In [7]:
# Example:
# write a boolean
True
False

False

* It has to be in differnet colors and to be a command.

In [24]:
a = False
b = True
print(a)
print(b)

False
True

In [9]:
# Example:
# use the "type()" built-in python function to check if the boolean value of the previous example is indeed boolean

type(True)

bool

In [14]:
#Handy feature: The question mark
x=True
x?

In [23]:
# write (and check) an integer
m = 3
print(m)
type(m)

3

int

In [12]:
# write (and check) a float (real number)
type(3.14e2)

float

In [20]:
# write (and check) a string
q = "Caroline"
type(q)

str

In [22]:
# write (and check) a list
n = ["K","C","R"]
type(n)

list

In [17]:
# write (and check) a tuple
x = (1,2,3,4)
type(x)

tuple

* We can also write h =[a, b, c] as a mark of tuple.

__________________________________________________________________________________________________________________________

In [25]:
%whos

Variable   Type     Data/Info
-----------------------------
a          bool     False
b          bool     True
m          int      3
n          list     n=3
q          str      Caroline
x          tuple    n=4
y          bool     True

In [26]:
#del a
del a

In [27]:
%whos

Variable   Type     Data/Info
-----------------------------
b          bool     True
m          int      3
n          list     n=3
q          str      Caroline
x          tuple    n=4
y          bool     True

#### 1.3 Variables: specifying data values in python

***Example:***

In [28]:
# Assigning strings to variables 

x = "Hello"
y = "World"
print(x)
print(y)
print(x, y)
print(x, y, "!")
print(x, y + "!")

Hello
World
Hello World
Hello World !
Hello World!

In [29]:
# Assigning numerical values to variables

num1 = 5
num2 = 7

print(num1 + num2)

12

**Naming variables in python**

The rules:
    
- You can use lowercase letters (a through z)
- You can use UPPERCASE letters (A through Z)
- You can use digits (0 through 9)
- You can use the underscore (_)
- Names are case sensitive (boston, Boston, and BOSTON are different names)
- Names must begin with a letter or an underscore, not a digit
- Names that begin with an underscore are treated specially
- Names cannot be one of python's reserved words.

##### Python's reserved words

Python reserves some names to be keywords, please do not use these as names of your variables. Run the cell below to list all the reserved keywords.

In [30]:
from keyword import kwlist
print(kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

______________________________________________________________________________________________________________________________

#### 1.4 Numerical Operations

Python has the basic numerical operations that makes it a quick calculator -- **but** note that we will use more advanced, math specific libraries for our data science needs!

***Simple Exercise: run the following cells***

In [31]:
# Addition
7 + 3

10

In [32]:
# Subtraction
7 - 3

4

In [33]:
# Multiplication
7 * 3

21

In [34]:
# Division (floating-point division or decimal division)
7 / 3

2.3333333333333335

In [35]:
# or, by assigning these numbers to variables

x = 7

y = 3

z = x/y

print(z)

2.3333333333333335

In [36]:
# Quotient from floor division (integer division or truncating division)
7 // 3

2

In [37]:
# Modulo (remainder)
7 % 3

1

In [38]:
# Power (Exponentiation)
x ** 3

343

______________________________________________________________________________________________________________________________

**Exercise:** 

As of yesterday, there were 663,994 Covid-19 reported cases in Massachusetts (source: mass.gov). 

The population of Massachusetts is 6,892,503  (estimate, July 1, 2019, source: Wikipedia and Census.org). 

Use python as calculator to calculate the number of Covid-19 cases per million ($10^6$) population, in Massachusetts.

In [45]:
# your code here
(663994 / 6892503) * 10e6

96335.68530909599

In [55]:
cases=663994
pop=6892503
casespm=cases/pop
casespm*10e6

963356.8530909598

___________________________________________________________________________________________________________________________

#### 1.5 Python's comparison operators

- Equality: ==

- Inequality: !=

- Less than: <

- Less than or equal: <=

- Greater than: >

- Greater than or equal: >=

In [49]:
#Comparisons and boolean go well together
# Try this - can you guess the result before running the code?
a=True
b=False
d=(a==b)
d==b

True

In [52]:
# EXERCISE: try TRUE or FALSE with numbers

x1=3
x2=4
y1=5
y2=1

check=(x1+x2)==(y1+y2)
if check:
    print('Sum is equal to:', (x1+x2))
else:
    print('Error: sums not equal!')

Error: sums not equal!

In [58]:
# More logical operations - can you guess the result before running the code?
x = 3
y = 6
print(x > y)
print(y > x)
print(x == y)
print(y != x)
y!=x

False
True
False
True

True

In [56]:
type(x)

int

In [57]:
print(type(x))

<class 'int'>



---

#### 1.6 Strings
Python strings are more than just some of characters, they are *objects* with functions

In [ ]:
"This is a string"

In [59]:
a="This is my string"
b='This is ALSO my string'
c='''This, too, is MY String''' 
print(a)
print(b)
print(c)

This is my string
This is ALSO my string
This, too, is MY String

Let's use some of the methods of the string object, namely, `split`, `upper` and `lower`:

In [60]:
a.split()

['This', 'is', 'my', 'string']

In [61]:
b.upper()

'THIS IS ALSO MY STRING'

In [62]:
c.lower()

'this, too, is my string'

In [67]:
a="This is my string"
?a.isalnum()
print(a.isalnum())
print(b.isnumeric())
print(c.split())
print(c.split(','))

False
False
['This,', 'too,', 'is', 'MY', 'String']
['This', ' too', ' is MY String']

* (,)means seperate the words by the showing up of comma

**Exercise**


*   Define a string called course_number and set it to 765
*   Define a string that is equal to "Programming for Data Science"
*   Change the course title to upper and lower case

In [71]:
# your code here
course_number = "765"
type(course_number)
course_title = "Programming for Data Science"
print(course_title.upper())

PROGRAMMING FOR DATA SCIENCE

Another very useful function is `format()`:

In [72]:
num=765
"My favorite class at Questrom so far is BA{}".format(num)
# see that the curly brackets act like a placeholder

'My favorite class at Questrom so far is BA765'

In [73]:
# We can use multiple curly brackets too:
b1_start=7
b2_start=1
myString="Does this class start at {} am or {} pm??".format(b1_start,b2_start)
print(myString)

Does this class start at 7 am or 1 pm??

#### 1.7 Casting

You might be familiar with the concept "type casting" but in Holywood it means something else, for us, it means casting a variable's type to something that is different than its original type:

In [74]:
x=2
y=2.0
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [75]:
# Cast x as float:
float(x)

2.0

In [83]:
# return of a cell execution vs return
type(a) #this is a return
print(type(a)) #thsis would print its result if there is

str

In [76]:
# Did we actually change the type of x? Try to find out:
# your code here
type(x)

int

In [77]:
#Try to cast y as integer using int()
#your code here
int(y)

2

In [89]:
#How about strings? Can we cast them to different types? YES
z="python"
list(z)
# casting of a boolean
#t = True
#?t

['p', 'y', 't', 'h', 'o', 'n']

In [91]:
?z

#### 1.8 Some notes:

In [92]:
# It is good to know the version of python we use:
import sys
sys.version

'3.7.10 (default, May  3 2021, 02:48:31) \n[GCC 7.5.0]'

In [94]:
# We can assign multiple variables at once
x,y,z = 3,3.33,"BA765"
print(x,y,z)
print('My results are x={}, y={}, z={}'. format(x,y,z))

3 3.33 BA765
My results are x=3, y=3.33, z=BA765

In [95]:
#Using operations within print is allowed:
print(x+y)
print(z+"!")

6.33
BA765!

#### 1.9 Doing math with python
We will use the powerful 【numpy package】 for this purpose because it is very well optimized for common mathematical operations

In [97]:
import numpy as np
# Note that we have not only imported the package, but also gave it an alias

In [98]:
np.pi

3.141592653589793

In [99]:
np.sqrt(625)

25.0

In [100]:
np.sin(30.0/180.0*np.pi)

0.49999999999999994

In [101]:
np.math.factorial(3)

6

In [102]:
import math

In [103]:
math.factorial(3)

6

##### Quick Exercise

What is the difference between the # of days in the year and 5 factorial , squared, +1

In [107]:
# your code here
number_days = 365
z = np.math.factorial(5)
n = z ** 2
m = n + 1
q = number_days - m
print(q)

-14036



---

#### Conclusions
Hope you enjoyed your very first introduction to Python
Now please go ahead and tackle the first lab exercises!