<a href="https://colab.research.google.com/github/CarolineGuothesweetie/Lecture-notes/blob/main/Review_Notes_for_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session1 - Introduction to Python

### 1. Basic types in Python
#### boolean: True/false
#### string; integer; float; 
#### list(contains different types of data); [ xx ]
#### tuple (immutable) ( xx )

In [6]:
a = 1
b = float(2)
c = [1,2,3]
d = (4,5,6)

In [7]:
%whos #command on showing all variables saved.

Variable   Type     Data/Info
-----------------------------
a          int      1
b          float    2.0
c          list     n=3
d          tuple    n=3
h          tuple    n=3

In [8]:
# Fixed names cannot be used as variable names:
from keyword import kwlist
print(kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### 2. Numerical Operations

In [2]:
# power
x = 3
y = x ** 3
y

27

### 3. Comparision commands

### 4. Strings

In [5]:
a = 'This is my dear string'
# split words / lower and upper cased
b = a.split() 
c = a.upper()
print(b)
print(c)

['This', 'is', 'my', 'dear', 'string']
THIS IS MY DEAR STRING

In [7]:
m = 'This, is, my dear string'
# split based on some signs:
n = m.split(',')
n

['This', ' is', ' my dear string']

In [8]:
# Casting: 改变variable的格式
x = 2
y = 1.2
z = int(y)
print(z)
print(type(z))

1
<class 'int'>

# Session2 - Lists & Tuples

### 1. Tuples: (1,2,3,4)

In [3]:
tup = (1,2,3,3)
print(tup.index(3)) #输入的值第一次出现的序列位置

2

In [4]:
tup2 = (2.5) #tuple只有一个元素自动返回该元素及variable类型
print(tup2)

2.5

### 2. Lists: [1,2,3,'Caroline',a]

In [5]:
tmp = list(range(1,10)) #range函数包括下限不包括上限
tmp

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
tmp2 = list(range(1,12,2)) #count by two
tmp2

[1, 3, 5, 7, 9, 11]

In [8]:
tmp2.append(10) #在后面加一个元素
tmp2

[1, 3, 5, 7, 9, 11, 10]

In [12]:
tmp2.pop(3) #pop(3)删除第三个序列上的数字/如果不输入序列则随机删除
tmp2

[5, 9, 11]

In [13]:
tmp3 = ['Will it work?']
x = ['a','b','c',4]
tmp3 += x
#equivalent to : tmp2 = tmp2 + x
tmp3

['Will it work?', 'a', 'b', 'c', 4]

In [14]:
tmp3.remove(4) #如果有多个4，remove第一个4
tmp3

['Will it work?', 'a', 'b', 'c']

### 3. Slicing/Indexing

In [15]:
slicer = [1,5,6,7,8]
print(slicer[-len(slicer)]) # -len(slicer)=-5 作为序列倒着往前数第五个元素

1

### 4. Range Selection

In [18]:
print(slicer)
slicer[0:2] #下闭上不闭

[1, 5, 6, 7, 8]

[1, 5]

In [26]:
myword = "programming"
print(len(myword))

#myword[:]
#myword[8:]
#myword[:3]
#myword[3:7]
#myword[:-8] 从第一个到倒数第八个
#myword[-11:] 
myword[::-1] #reverse them as then pop from the end. ##起始位置:终止位置:步幅
#myword[-9:-5]

11

'gnimmargorp'

### 5. Insert and Extend

In [36]:
mylist = [0,1,2,3]
mylist2= [4,5,6]

In [37]:
mylist.insert(4,mylist2) #以list形式导入
mylist

[0, 1, 2, 3, [4, 5, 6]]

In [38]:
mylist.extend(mylist2) #以元素的形式扩张
mylist

[0, 1, 2, 3, [4, 5, 6], 4, 5, 6]

In [39]:
print(mylist + mylist2) #list可以直接相加

[0, 1, 2, 3, [4, 5, 6], 4, 5, 6, 4, 5, 6]

# Session 3 - Sets & Dictionaries

### 1. Sets {}

In [54]:
y=[4,9,7,8,8,4,5,4,6] #set是去重且无序的
yset = set(y)
yset.pop() #随机选中一个数字删掉并返回删掉的值
yset

{5, 6, 7, 8, 9}

In [57]:
aset = {1,2,3,4,5,6}
bset = {4,5,6,7,8,9}
aset.difference(bset) #gives us unique elements in aset; 因此aset.diff(b) != bset.diff(a)

{1, 2, 3}

In [ ]:
#set里不包含任何含有list相关的操作

In [62]:
set1 = {1} #加元素操作1 
set1.add('aaa')
set1

{1, 'aaa'}

In [64]:
set1.update([9,99,999]) #加元素操作2
set1

{1, 9, 99, 999, 'aaa'}

In [69]:
set1.remove(99) #直接删除
set1

{1, 9, 999, 'aaa'}

### 2. Dictionary /key:value pairs {}

In [65]:
d = { 'online':True, 
     'courseName':'ba765',  
     'totStudents': 100, 
     3:['A','B','C']}
print(type(d))
d

<class 'dict'>

{3: ['A', 'B', 'C'], 'courseName': 'ba765', 'online': True, 'totStudents': 100}

In [71]:
# 导出某一个key的value
d['courseName']

'ba765'

In [67]:
# Adding a key: 直接和value成组加上去（方式1
d['LfA'] = False
d

{3: ['A', 'B', 'C'],
 'LfA': False,
 'courseName': 'ba765',
 'online': True,
 'totStudents': 100}

In [68]:
# Deleting a key 
del d['online']
d

{3: ['A', 'B', 'C'], 'LfA': False, 'courseName': 'ba765', 'totStudents': 100}

In [70]:
#How about changing the values of the keys?
print(d['LfA'])
d['LfA'] = True
d['LfA']

False

True

In [74]:
# There is another way of accessing the value of a key
# which also allows us to set a default value: 'TBD' 查找的key不存在时返回这个default值
d.get('instructor', 'TBD')

'TBD'

In [75]:
# Updating a dictionary by adding a new item, aka k:v pair: 第二种添加方式
d.update({'rating':4.95})
print(d)

{'courseName': 'ba765', 'totStudents': 100, 3: ['A', 'B', 'C'], 'LfA': True, 'rating': 4.95}

In [76]:
# Using the update function to update an existing k:v pair:
d.update({'LfA':False})
d['LfA']

False

# Session 4 - Functions, Notes & Modules

### 1. Functions

In [ ]:
# return指令后返回的值可以直接存为variable使用
# print指令仅会返回数值

In [5]:
# Careful with defaults if you want to work with a changable default 扩张空list
def my_add2list(x,y=[]):
  y.append(x)
  return(y)
my_add2list(2)

[2]

In [6]:
# To escape this behavior do the following:
def my_add2list(x,y=None):
  if y==None:
    y=[]
  y.append(x)
  return(y)
my_add2list(1)

[1]

In [7]:
my_add2list(1,['a',True]) # y != None, 因此y是一个已经包含'a' True的list，在这个基础上加上1

['a', True, 1]

### 2. Modules 模块/避免导入整个代码库

In [8]:
# Some new useful ones: random choice
import random
random.choices([1,2,3], k=5)

[3, 3, 2, 3, 2]

In [9]:
# os.shell
import os

In [10]:
# 显示路径/目前位置 like pwd
os.getcwd()

'/content'

In [19]:
# like ls/列出所有的dir
os.listdir()

['anscombe.json',
 'README.md',
 'mnist_test.csv',
 'california_housing_train.csv',
 'california_housing_test.csv',
 'mnist_train_small.csv']

In [ ]:
# like cd/改变位置到这个dir
os.chdir('sample_data')

In [20]:
os.getcwd()

'/content/sample_data'

In [ ]:
# 创建一个dir
os.mkdir('BA765')

In [24]:
os.listdir()

['anscombe.json',
 'README.md',
 'BA765',
 'mnist_test.csv',
 'california_housing_train.csv',
 'california_housing_test.csv',
 'mnist_train_small.csv']

In [25]:
# cd ../. 回到上层且待在那 ：）
# cd ..
os.chdir('..')

In [26]:
os.getcwd()

'/content'

### 3. Shell access in Colab - See on notes.