<a href="https://colab.research.google.com/github/CarolineGuothesweetie/Lecture-notes/blob/main/%E2%80%9C01_SetsDictionaries_Lecture_ipynb%E2%80%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets and Dictionaries
Session 3 - part 1 
<br>07/13/2021

## Sets
Sets are unordered and unindexed collection of data. Because of this, they cannot accept duplicates. Let's see some examples:

In [1]:
x=[1,2,3,4,5,5,5,6,2,1]
y=[4,9,7,8,8,4,5,4,6]

In [2]:
print(type(x), type(y))
print(x)
print(y)

<class 'list'> <class 'list'>
[1, 2, 3, 4, 5, 5, 5, 6, 2, 1]
[4, 9, 7, 8, 8, 4, 5, 4, 6]

In [3]:
# Let's make these into sets!
xset = set(x)
yset = set(y)

In [4]:
xset

{1, 2, 3, 4, 5, 6}

In [5]:
type(xset)

set

In [6]:
len(xset)

6

## Methods of Sets

There are many, but let's look at three most used:

In [7]:
print(xset)
print(yset)
# Union
xset.union(yset)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
# What do you think about the check below: True or False?
xset.union(yset) == yset.union(xset)

True

In [9]:
# Intersection 
xset.intersection(yset)

{4, 5, 6}

In [10]:
#What do you think about the check below? True or False? 
yset.intersection(xset) == xset.intersection(yset)

True

In [11]:
## Difference
xset.difference(yset)

{1, 2, 3}

* The difference command gives us the unique elements of x set

In [13]:
yset.difference(xset)

{7, 8, 9}

In [12]:
#What do you think about the check below? True or False? 
xset.difference(yset) == yset.difference(xset)

False

In [15]:
zset = {'a',1}
#z2set = {'a',[1,2]} THIS WILL BE AN ERROR
print(zset)

{1, 'a'}

* Even we input 2 lists into the set, that will be an error. TypeError: unhashable type: 'list'

In [16]:
tup = 1,2,3,'a'
tup2 = 'a',4,False
z4set = set(tup)
z5set = z4set.union(set(tup2))
print(z5set)
print(type(z5set))

{False, 1, 2, 3, 4, 'a'}
<class 'set'>

* If we add a list ['y','w'] into the tuple, we cannot even do the same command because of unhashable elements==list.

Some more notes about sets:

In [17]:
# Do sets accept elements of different types?
set1 = {'a',1,1.2}
set1

{1, 1.2, 'a'}

In [21]:
setn = {'a',1,1.2,False,}
setn

{1, 1.2, False, 'a'}

In [22]:
setm = {'a',1,1.2,False,['b']}
setm

TypeError: ignored

In [18]:
# Do sets accept duplicates?
set2 = {'b', 1, 1}
set2

{1, 'b'}

In [20]:
# What is the length of the following set?
set3 = {'c',1, True, 2.0}
len(set3)

3

In [25]:
# A familiar operation works for sets too, but with a twist!
set3.pop()
# This command will randomly remove an element in a set and return its value

'c'

* Sets are not sequenced. They are totally random.

Now that you know about sets and some basic operations, can you think of a usecase of sets in a business setting?

In [26]:
set3.add('aaa')
set3.update([9,99])
set3

{9, 99, 'aaa'}

## Dictionaries
Dictionaries are one of the four built in data types that are used to store a collection of data. Unlike all the data structures we have seen, dictionaries are very structured, the data is stored in key:value pairs, just like in a dictionary! As expected, dictionaries do not accept duplicates.


(From Python 3.7 onwards, dictionaries are supposed to preserve the key insertion order but please check the implementation you are working with before relying on this!)


Let's see some examples:

In [27]:
d = { 'online':True, 
     'courseName':'ba765',  
     'totStudents': 100, 
     3:['A','B','C']}
print(type(d))
d

<class 'dict'>

{3: ['A', 'B', 'C'], 'courseName': 'ba765', 'online': True, 'totStudents': 100}

In [28]:
d.keys()

dict_keys(['online', 'courseName', 'totStudents', 3])

In [29]:
list(d.keys())

['online', 'courseName', 'totStudents', 3]

In [32]:
# Adding a key
d['LfA'] = False

In [33]:
d.keys()

dict_keys(['online', 'courseName', 'totStudents', 3, 'LfA'])

In [34]:
d

{3: ['A', 'B', 'C'],
 'LfA': False,
 'courseName': 'ba765',
 'online': False,
 'totStudents': 100}

In [35]:
# Deleting a key 
del d['online']

In [36]:
d

{3: ['A', 'B', 'C'], 'LfA': False, 'courseName': 'ba765', 'totStudents': 100}



---

In [38]:
#Accessing values in a dictionary
d['LfA']

False

* We cannot access the deleted dict.

In [39]:
d[3]

['A', 'B', 'C']

In [40]:
#How about changing the values of the keys?
print(d['LfA'])
d['LfA'] = True
d['LfA']

False

True

In [41]:
# There is another way of accessing the value of a key
# which also allows us to set a default value:
d.get('instructor', 'TBD') ???

'TBD'

In [42]:
# Further checks about existince of a key:
'courseName' in d

True

In [43]:
'instructor' not in d

True

In [44]:
'TBD' in d

False



---

In [45]:
# We have worked enough with keys, 
# let's take a look at things we can do with values

d.values()

dict_values(['ba765', 100, ['A', 'B', 'C'], True])

In [46]:
list(d.values())

['ba765', 100, ['A', 'B', 'C'], True]

In [47]:
# .. or items:
d.items()

dict_items([('courseName', 'ba765'), ('totStudents', 100), (3, ['A', 'B', 'C']), ('LfA', True)])

In [48]:
list(d.items())

[('courseName', 'ba765'),
 ('totStudents', 100),
 (3, ['A', 'B', 'C']),
 ('LfA', True)]

In [49]:
# Updating a dictionary by adding a new item, aka k:v pair:
d.update({'rating':4.95})
print(d)

{'courseName': 'ba765', 'totStudents': 100, 3: ['A', 'B', 'C'], 'LfA': True, 'rating': 4.95}

In [50]:
# Using the update function to update an existing k:v pair:
d.update({'LfA':False})
d['LfA']

False

In [51]:
# We already saw how to remove a k:v pair
del d['LfA']

In [52]:
d

{3: ['A', 'B', 'C'], 'courseName': 'ba765', 'rating': 4.95, 'totStudents': 100}

In [53]:
# but we can also clear the whole dictionary:
d.clear()

In [54]:
print(d)

{}

In [55]:
# if we want to get rid of it completely:
del d

In [ ]:
print(d)

#### Quick exercise:

Define a dictionary that has    

*   'a' list of values from 1 to 5
*   'b' tuple of your first and last name
*  765 that as your age as a float

Then:
*  confirm that it is a dictionary 
*  print out the keys as a list.

In [77]:
# your code here
a = [1,2,3,4,5]
b = 'Caroline','Guo'
print(type(b))
AGE = float(21)
print(type(AGE))

d = {'a':a,'b':b, 765:AGE}  
print(d) 
type(d)
list(d.keys())

<class 'tuple'>
<class 'float'>
{'a': [1, 2, 3, 4, 5], 'b': ('Caroline', 'Guo'), 765: 21.0}

['a', 'b', 765]

In [82]:
d = {'a':[1,2,3,4,5],
     'b':('Caroline','Guo'),
     '765':float(21)}
d

{'765': 21.0, 'a': [1, 2, 3, 4, 5], 'b': ('Caroline', 'Guo')}


## Interlude to Python with some git 
---

That is all for now for dictionaries and sets! Hope you enjoyed these new data structures and can think of interesting ways of using them!

Now we'll take a break with some git, with Github Desktop and VS Code.

- git clone \<repo path here.git\>
- git status
- git add \<filename>
- git commit
- git push
- git config --global user.email "your-email-here"
- git config --global user.name "Your name here"