<a href="https://colab.research.google.com/github/CarolineGuothesweetie/Lecture-notes/blob/main/%E2%80%9C02_LoopsConditionals_Lecture%E2%80%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Controlling the Execution Flow
Loops and Conditionals
<br>Session 4 - part 2
<br>07/15/2021

Learning Objectives:

1.  `for` and `while` loops
1.  `if` statements


Above allow us to control the flow of our code, and provide a pathway for us to create more advanced functions to control our code logic.

# Looping: `for` and `while`

Computers shine at repetitive tasks. There will be times where you want to evaluate each entry in a object, or execute code until a certain codition is met.  

For loop tutorial:  https://realpython.com/python-for-loop/  
While loop tutorial:   https://realpython.com/python-while-loop/

## For loops


![loop](https://www.learnbyexample.org/wp-content/uploads/python/Python-for-Loop-Syntax.png)

<br>

In [1]:
# print elements in a list
mylist = [1,2,3,'a']

for i in mylist:
  print(i)

1
2
3
a

In [2]:
for i in mylist:
  print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!
Hello, World!

> What just happened?  We iterated over the values in `mylist`, and for each value, we set the value of `i` to that entry, and printed it to output.  We don't have to always use `i`, but it is a rather standard convention for historical reasons.

Remember the range function? It is perfect for these kind of repetitive tasks:

In [3]:
# a second for loop
for num in range(1,11):
  print(num)

1
2
3
4
5
6
7
8
9
10


For help on range, see this article:  https://pynative.com/python-range-function/

In [4]:
# let's copy above, but this time, perform an operation on each entry
# square the values
for num in range(1, 11):
  print(num**2)

1
4
9
16
25
36
49
64
81
100

## Quick Exercise:

In [14]:
# for each number 1 through 10, add 5 to the number, and add it to a list called
modified_nums = []
for i in range(1,11):
  print(i+5)

6
7
8
9
10
11
12
13
14
15

## While loops

![while](https://www.learnbyexample.org/wp-content/uploads/python/Python-while-Loop-Syntax.png)

Unlike `for` loops, `while` loops will always try to execute the code blocks until the condition is no longer `True`.  These can be infinite loops.

In [9]:
# lets import the random library 
import random

In [10]:
# starter loop
x = 1
while x < 5:
  print(x)
  x = x + 1

1
2
3
4

In [ ]:
# as mentioned above, these can be infinite loops,
# we will need to interrupt the execution otherwise it will run forever:
# Runtime  > interrupt execution
while True:
  print(random.randint(1,100))

## Quick exercise

In [26]:
import numpy as np
# QUICK EXERCISE:
# define x to be 50
# use a while loop that executes as long as x > 10
# inside the while loop, update the value of x to be:
# (its current value - a random integer between 1 and 5)
x = 50
while x > 10:
  y = np.random.choice(range(1,6))
  print(x - y)
  x = x - y

47
43
41
40
36
31
29
24
22
17
12
7

# `if` statements

If statements execute _if_ the conditional statement is `True`.  

Tutorial:  https://realpython.com/python-conditional-statements/

In [29]:
# let's start simple
# but learn a few interesting things at the same time
# below is how to ask user for live input:
x = input('enter a integer value for x:')
x = int(x)
if x > 0:
  print('x is greater than zero')

enter a integer value for x:0

> Note 1:  Take note of the indentation.  This is a key principle in writing code in python.  For various features, like if statements, python will require us to indent our code.  Change indentation of the `print` so that it is in the same level of `if` line and see the result!


> Note 2: Above we use are using standard python's `input` to get input from the user. It comes back in the form a string, so we convert it to an integer.

In [ ]:
# lets copy and paste the cell above, to handle other flows
# handle other cases
x = input('enter a integer value for x:')
x = int(x)
if x > 0:
  print('x is greater than zero')
else:
  print('x is negative')

enter a integer value for x:0
x is negative

> What happens when we enter zero?

In [ ]:
# let's round this out
x = input('enter a integer value for x:')
x = int(x)
if x > 0:
  print('x is greater than zero')
elif x < 0:
  print('x is negative')
else:
  print('x is equal to zero')

> What did we learn above about the syntax?

## Iterating over Lists

In [30]:
x = list(range(2, 21, 2))
x

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [31]:
# len
len(x)

10

In [32]:
for val in x:
  print(val)

2
4
6
8
10
12
14
16
18
20

In [33]:
# have both the index and value
for index, value in enumerate(x):
  print(index, value)

0 2
1 4
2 6
3 8
4 10
5 12
6 14
7 16
8 18
9 20

In [34]:
# confirm
x[:5]

[2, 4, 6, 8, 10]

In [35]:
# lets go from a list to a dictionary
d = {}

for index, value in enumerate(x):
  d[index] = value

In [36]:
d

{0: 2, 1: 4, 2: 6, 3: 8, 4: 10, 5: 12, 6: 14, 7: 16, 8: 18, 9: 20}

In [37]:
d.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## Dictionaries

In [38]:
# command that checks if key is in dict.
0 in d

True

In [39]:
# check every key
for key in d:
  print(key)

0
1
2
3
4
5
6
7
8
9

In [40]:
# check every value
for value in d.values():
  print(value)

2
4
6
8
10
12
14
16
18
20

In [41]:
# explicit keys

for key in d.keys():
  print(key)

0
1
2
3
4
5
6
7
8
9

In [42]:
# lets start by looking at items
for item in d.items():
  print(item)

(0, 2)
(1, 4)
(2, 6)
(3, 8)
(4, 10)
(5, 12)
(6, 14)
(7, 16)
(8, 18)
(9, 20)

In [43]:
# lets confirm a tuple
for item in d.items():
  print(item)
  print(type(item))

(0, 2)
<class 'tuple'>
(1, 4)
<class 'tuple'>
(2, 6)
<class 'tuple'>
(3, 8)
<class 'tuple'>
(4, 10)
<class 'tuple'>
(5, 12)
<class 'tuple'>
(6, 14)
<class 'tuple'>
(7, 16)
<class 'tuple'>
(8, 18)
<class 'tuple'>
(9, 20)
<class 'tuple'>

In [45]:
# lets extract the key and the value
for key, value in d.items():
  print(key,value)
  print("="*10)

0 2
==========
1 4
==========
2 6
==========
3 8
==========
4 10
==========
5 12
==========
6 14
==========
7 16
==========
8 18
==========
9 20
==========

In [46]:
# reverse the dictionary
d2 = {}

for key, value in d.items():
  d2[value] = key

d2

{2: 0, 4: 1, 6: 2, 8: 3, 10: 4, 12: 5, 14: 6, 16: 7, 18: 8, 20: 9}

# Exercise A:

You are provided some code below to get you started. We are creating a list of grades for 500 students.  

Given `grades`, create a new list called `passing_grade` and only include the entries from `grades` where the value is greater than or equal to 70.  After that has been completed, print out the percentage of grades that are considered passing.

In [48]:
# STARTER CODE BELOW
import numpy as np
np.random.seed(834)

# create a set of 500
grades = np.random.randint(0,100, size=500).tolist()

In [52]:
print(grades)

[28, 64, 14, 93, 35, 38, 32, 7, 59, 94, 13, 7, 10, 84, 34, 37, 72, 98, 94, 11, 71, 81, 30, 22, 20, 88, 47, 76, 81, 60, 97, 43, 86, 11, 32, 10, 91, 89, 36, 97, 19, 34, 69, 88, 45, 5, 40, 76, 67, 76, 60, 42, 94, 0, 92, 39, 41, 52, 23, 67, 15, 15, 15, 62, 93, 23, 36, 12, 50, 39, 65, 37, 76, 4, 2, 48, 23, 61, 95, 82, 55, 82, 43, 27, 53, 86, 87, 55, 34, 82, 53, 36, 62, 26, 82, 9, 62, 88, 37, 49, 97, 21, 82, 33, 99, 49, 87, 53, 29, 54, 29, 49, 17, 14, 32, 18, 2, 63, 2, 13, 5, 34, 22, 66, 56, 52, 27, 75, 81, 5, 48, 94, 37, 52, 10, 43, 10, 66, 88, 35, 12, 22, 5, 67, 12, 76, 51, 35, 57, 57, 22, 60, 14, 7, 17, 15, 84, 26, 70, 28, 72, 18, 71, 63, 88, 50, 54, 11, 79, 75, 97, 25, 29, 6, 94, 27, 35, 32, 85, 95, 89, 91, 21, 97, 56, 29, 42, 3, 92, 22, 99, 35, 83, 49, 89, 50, 82, 68, 30, 13, 77, 68, 62, 20, 12, 79, 38, 6, 55, 26, 1, 41, 90, 48, 91, 72, 67, 62, 33, 16, 51, 66, 10, 93, 44, 87, 20, 28, 27, 28, 21, 67, 45, 4, 71, 14, 18, 97, 91, 36, 20, 43, 61, 85, 33, 43, 38, 89, 77, 14, 59, 82, 43, 56, 12, 96, 23, 74, 79, 81, 29, 46, 81, 92, 64, 98, 15, 88, 35, 88, 48, 41, 99, 51, 47, 39, 92, 71, 33, 14, 56, 6, 83, 42, 63, 94, 90, 48, 63, 15, 76, 64, 74, 82, 3, 27, 10, 0, 4, 99, 44, 24, 20, 84, 25, 90, 76, 26, 91, 68, 23, 8, 6, 48, 44, 46, 83, 51, 70, 32, 69, 93, 81, 89, 3, 3, 9, 74, 76, 56, 35, 90, 24, 63, 17, 11, 42, 62, 78, 54, 25, 10, 14, 53, 35, 66, 35, 44, 34, 57, 99, 30, 78, 21, 29, 29, 98, 12, 35, 76, 22, 39, 15, 51, 11, 82, 0, 31, 4, 59, 6, 26, 54, 21, 17, 81, 53, 99, 18, 43, 71, 53, 65, 80, 70, 96, 89, 44, 39, 21, 36, 1, 21, 46, 70, 63, 15, 15, 28, 5, 50, 77, 72, 1, 30, 50, 36, 80, 72, 11, 18, 36, 33, 12, 64, 83, 72, 12, 1, 92, 21, 30, 98, 32, 30, 25, 29, 90, 44, 79, 5, 79, 46, 32, 95, 42, 8, 2, 10, 42, 73, 56, 44, 15, 29, 27, 75, 91, 91, 35, 90, 14, 41, 61, 93, 30, 48, 88, 41, 39, 42, 31, 34, 15, 79, 58, 94, 58, 66, 53, 30, 45, 38, 34, 89, 78, 48, 75, 36, 45, 29, 52, 91, 60, 75, 53, 53, 59, 84, 77, 8, 39, 18, 80, 4, 82, 72, 31, 14, 97]

In [54]:
i = np.random.choice(grades)

In [57]:
# Q1:  Create a list called passing_grade , and populate it with passing grades
# from the overall grades list
# remember the passing grades are greater or equal to 70.
passing_grade = []

for i in grades:
  if i >= 70:
    passing_grade.append(i)
print(passing_grade)

[93, 94, 84, 72, 98, 94, 71, 81, 88, 76, 81, 97, 86, 91, 89, 97, 88, 76, 76, 94, 92, 93, 76, 95, 82, 82, 86, 87, 82, 82, 88, 97, 82, 99, 87, 75, 81, 94, 88, 76, 84, 70, 72, 71, 88, 79, 75, 97, 94, 85, 95, 89, 91, 97, 92, 99, 83, 89, 82, 77, 79, 90, 91, 72, 93, 87, 71, 97, 91, 85, 89, 77, 82, 96, 74, 79, 81, 81, 92, 98, 88, 88, 99, 92, 71, 83, 94, 90, 76, 74, 82, 99, 84, 90, 76, 91, 83, 70, 93, 81, 89, 74, 76, 90, 78, 99, 78, 98, 76, 82, 81, 99, 71, 80, 70, 96, 89, 70, 77, 72, 80, 72, 83, 72, 92, 98, 90, 79, 79, 95, 73, 75, 91, 91, 90, 93, 88, 79, 94, 89, 78, 75, 91, 75, 84, 77, 80, 82, 72, 97]

In [63]:
# Q2:  What % of the 500 entries in `grades` passed?
# Return your result as a string in the format of XX%
a = len(passing_grade)
print('% of the 500 entries in grades:', a/500)

% of the 500 entries in grades: 0.3

In [65]:
rate = len(passing_grade)/len(grades)*100
print('{}% of the entries in grades passed'.format(rate,len(grades)))

30.0% of the entries in grades passed

In [66]:
# Q3: Bonus - can you sort the passing_grade list to find the highest passing grades 
# in this sample?
passing_grade.sort(reverse=True)
passing_grade[0]

99

# Exercise B: 

Let's add our knowledge of functions here too:

Create a function that takes a string as input, and returns a list that only includes the letters from the input that are in upper case ('B', not 'b')

> Hint: reviewing string methods might help here while checking upper case!


> Bonus: add an optional argument to functional called "collapsed" such that when it is `True` (default being `False`), your function also returns a collapsed version of the entry so the letters appear together as just a string, e.g. likethisbunchofwords